html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
     box-sizing: inherit;
}

* {
    border: 1px solid grey;
} 

.row {
    width: 100%
}

.top-row {
    padding: 217px;
}

.col-half {
    width: 50%;
    float: left;
}

.col-thirds {
    width: 33%;
    float: left;
}