html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
     box-sizing: inherit;
}

* {
    border: 1px solid grey;
} 

li {
    display: inline-block;
    margin: 0 45px 0 -20px;
}

.row {
    width: 100%;
    clear: left;
}

.big-col {
    padding: 75px;
    text-align: center;
}

.col-half {
    width: 50%;
    float: left;
}

.col-thirds {
    width: 33%;
    float: left;
}